#background
	background:$bg
	image '/img/wolf-bg.png' 100% auto
	background-size:100% auto
	background-repeat:no-repeat
	height:auto
	opacity:$bgOpacity
	left:0
	position:absolute
	right:0
	top:0
	z-index:0
	filter:blur(6px) grayscale(100%)
	-webkit-filter:blur(6px) grayscale(100%)
	transition-property:opacity,filter,-webkit-filter
	transition-duration:1s
	transition-timing-function:linear
	&:after
		background:linear-gradient(bottom,$bg 0%, rgba($bg,0) 100%)
		bottom:0
		content:''
		display:block
		height:200px
		position:absolute
		left:0
		right:0
	&.show
		opacity:0.12 !important
		filter:blur(0px)
		-webkit-filter:blur(0px)

#background-video
	width:100%
	
#video-container
	opacity:0
	transition-property:opacity,visibility
	transition-duration:1.5s
	transition-timing-function:linear
	visibility:hidden
	width:100%
	&.show
		opacity:1
		visibility:visible