#article-header
	margin:80px 0 100px
	text-align:center
	#logo
		margin-bottom:30px
	
#article-content
	h1
	h2
	h3
	h4
	p
	img
		display:block
		margin-left:auto
		margin-right:auto
		max-width:800px
	img
		border:1px solid rgba(0,0,0,0.1)
		box-shadow:0 1px 6px rgba(0,0,0,0.1)
		margin-bottom:80px
		margin-top:80px
		max-width:1000px