/*!
 * /components/responsive.styl
 * 
 * Styling for various device size conditions
 *
 */
 
/**
 * Hide or Show elements
 */

for size in xsm sm med lrg xlrg
	.device-{size}-hide
		@media $device-{size}
		display:none

	.device-{size}-show
		@media $device-{size}
		display:inline-block