/*!
 * /components/typography.styl
 * 
 * Styling for headers and other text
 *
 */

h1
h2
h3
h4
	margin:0 0 0.5em

h1
	font-size:2.6em
	font-weight:100
	
h2
	font-size:1.4em
	font-weight:bold
	line-height:1.5em
	margin:0 0 0.8em
	
h3
	color:$textAltColor
	text-transform:uppercase
	font-size:1.1em
	
p
	margin:0 0 2em