/*!
 * /components/work.styl
 * 
 * Styles an image grid for portfolio work
 *
 */

.work
	opacity:0
	transform:translate3d(0,20vh,0)
	transition:all 0.5s ease-in-out
	transition-delay:2s
	visibility:hidden
	header
		display:none
	.work-list
		border:1px solid $borderColor
		margin:0
		padding:0
		position:relative
		@media $device-sm
			border-left:none
			border-right:none
		clearfix()
		.work
			background-size:cover
			display:block
			float:left
			font-size:14px
			margin:0
			opacity:1
			overflow:hidden
			position:relative
			width:(100/3)%
			text-align:center
			transition:all 0.2s ease-in-out
			&:before
				content:''
				display:block
				padding-bottom:75%
			@media $device-lrg
				width:50%
			@media $device-sm
				width:100%
			a,
			span
				bottom:0
				display:block
				left:0
				overflow:hidden
				position:absolute
				right:0
				top:0
				img
					width:100%