<!DOCTYPE html>
<html>
<head>

<!-- Meta data -->
<meta charset="utf-8">
<meta name="description" content="Portfolio website of Derek Narler">
<meta name="author" content="Derek Marler">
<meta name="keywords" content="derek, marler, interface, design, designer, js, css, html, photoshop, sketch">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/ico" href="/favicon.png">

<title>Derek Marler {% if page.title %} - {{ page.title }}{% endif %}</title>

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400,300' rel='stylesheet' type='text/css'>

<!-- Styles (CSS) -->
<link rel="stylesheet" href="/css/style.css">

<!-- IE6-8 HTML5 tag compatibility -->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

{{content}}

</body>
</html>