---
layout: base
---
<!-- Page loader -->
<div id="page-loader">
	<div class="spinner">
		<div class="bounce1"></div>
		<div class="bounce2"></div>
		<div class="bounce3"></div>
	</div>
</div>

<!-- Wrapper -->
<div id="wrapper">

<header id="header">
<div class="inner">
	<div class="contents">
		<a href="/" id="logo">Derek Marler</a>
		<h1>I'm an <strong>Interface Designer</strong></h1>
		<p>
			Designs should highly communicative, intuitive, and simple.<br>
			Currently available for new projects!
		</p>
		<ul class="skills-list">
			<li class="skill skill-years">5+ years experience</li>
			<li class="skill skill-designer">UI/UX Designer</li>
			<li class="skill skill-frontend">Frontend Engineer</li>
		</ul>
	</div>
</div>
</header>

<main id="content" role="main">
<div class="inner">
	{{content}}
</div>
</main>

<!-- Footer -->
{% include footer.html %}

</div>

<div id="overlay">
	<div id="overlay-content">
		<p>Testing this overlay thing</p>
	</div>
	<a href='#' id="overlay-close" class="close">&times;</a>
</div>

<script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/script.js" type="text/javascript" charset="utf-8"></script>