---
layout: base
---
<!-- Page loader -->
<div id="page-loader">
	<div class="spinner">
		<div class="bounce1"></div>
		<div class="bounce2"></div>
		<div class="bounce3"></div>
	</div>
</div>

<!-- Wrapper -->
<div id="wrapper">

<header id="header">
<div class="inner">
	<div class="contents">
		<a href="/" id="logo">Derek Marler</a>
		<h1>I'm an <strong>Interface Designer</strong></h1>
		<p>
			That strives to make designs highly communicative, intuitive, and simple.
			<br>
			5+ years experience &middot; 
			UI/UX Designer &middot; 
			Frontend Engineer
		</p>
		{% include social.html %}
	</div>
</div>
</header>

<main id="content" role="main">
<div class="inner">
	{{ content }}
</div>
</main>

<!-- Footer -->
{% include footer.html %}

</div>

<script>
// Do welcome animation when loaded
window.onload = function() {
	// Minimum 1 second wait
	setTimeout(function() {
		document.getElementsByTagName('body')[0].className+=' loaded'
	},1000);
}
</script>