*
	box-sizing:border-box
	margin:0
	padding:0
	
a
	color:$linkColor
	text-decoration:$linkDecoration
	&:hover
		text-decoration:underline
		
html
body
	height:100%
	positon:relative
	
body
	color:$textColor
	font:16px/2em "Open Sans",helvetica,arial
	-webkit-font-smoothing: antialiased

#page-loader
	background:white
	bottom:0
	left:0
	position:fixed
	right:0
	text-align:center
	top:0
	transition:all 0.4s ease-in-out
	visibility:visible
	z-index:9999
	&:before
		content:''
		display:inline-block
		height:100%
		vertical-align:middle
		width:0
	.spinner
		opacity:1
		transform:scale(1)
		transition:all 0.2s ease-in-out

#wrapper
	height:100%
	position:relative
	z-index:1

#header .inner
#content .inner
#footer .inner
	margin:0 auto
	max-width:1250px
	width:98%

#logo
#header
	position:relative
	
#header
	min-height:200px
	text-align:center
	&:before
		content:''
		display:inline-block
		height:100%
		vertical-align:middle
		width:0
	.inner
		display:inline-block
		margin-top:-20px
		vertical-align:middle
		width:95%
		@media $device-sm
			h1
				font-size:2.4em
				margin-bottom:1em
				strong
					display:block
			p
				display:none
	h1
		line-height:1.2em
	p
		line-height:1.7em
	
#header
.header-spacing
	height:60vh
	max-height:900px
	min-height:420px
	
#logo
	image '/img/logo.png' 100% auto
	background-size:100% auto
	display:inline-block
	height:80px
	margin:0 0 25px
	text-indent:-9999px
	width:120px

#content
	.inner
		max-width:2400px
		margin:0 auto
		@media $device-sm
			width:100%
		
#footer
	color:$textAltColor
	height:30vh
	min-height:200px
	position:relative
	text-align:center
	&:before
		content:''
		display:inline-block
		height:90%
		vertical-align:middle
		width:0
	.inner
		display:inline-block
		vertical-align:middle
	.credits
		bottom:0
		display:block
		font-size:0.8rem
		left:0
		margin:0 0 1em
		position:absolute
		width:100%
