/*!
 * /style.styl
 * 
 * All styl compiles to one style.css
 *
 */

// Useful libraries
@import nib

// Core
@import variables
@import structure

// Components
@import 'components/social'
@import 'components/spinner'
@import 'components/responsive'
@import 'components/typography'
@import 'components/work'

// Different layouts
@import 'layouts/home'