// Backgrounds
$bg = #fff
$bgOpacity = 0.12

// Borders
$borderColor = rgba(0,0,0,0.1)

// Links
$linkColor = hsl(203,80%,60%)
$linkDecoration = none

// Text
$textColor = #515152
$textAltColor = rgba(0,0,0,0.4)